@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", serif;
}
.main-heading{
     text-align: center;
     font-weight: 600;
     margin-top: 50px;
}
.transparent{
     margin-left: 44%;
     margin-top: 35px;
}
.point{
     width: 50%;
     margin-left:27% ;
     margin-top: 80px;
}
.information{
     position: relative;
     border: 1px solid rgb(255, 255, 255);
}
#in-2{
     margin-top: 24%;
}
#in-3{
     margin-top: 25%;

}
img{
     position: absolute;
     border-radius: 10px;
}
.para{
     position: absolute;
     top: 25px;
      left: 210px;
      font-size: 18px;
      font-weight: 600;

}
.date{
     position: absolute;
     left: 210px;
     top: 105px;
     font-size: 14px;
}

